body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.mcasChartWrapper {
  display: inline-block;
  position: relative;
  vertical-align: top;
  width: 600px;
}

.mcasChartWrapper h3 {
  text-align: center;
}

.schoolLabelsWrapper {
  width: 400px;
  display: inline-block;
  vertical-align: top;
  text-align: left;
}

.schoolLabelWrapper {
  position: relative;
  padding: 5px;
}

.schoolSelectWrapper {
  width: 500px;
  margin: auto;
}

.closeGraphButton {
  margin-right: 10px;
}

.selectedSchoolsIcon {
  width: 15px;
  height: 15px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}

.subjectSelect {
  z-index: 1;
}
